.about-section {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 50px;
  position: relative;
  z-index: 1;
}

.about-section .bg-white {
  border-radius: 35px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1024px) {
  .about-section {
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  .about-section {
    padding: 2rem 1rem;
  }
  
  .about-section .grid {
    grid-template-columns: 1fr;
  }
}
