.faqsSection{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.faqs{
    border-radius: 35px;
    background-color: var(--gris-oscuro) !important;
    color: #fff;
}

.faqCard{
    border-radius: 35px;
}

@media (max-width: 1024px){
    .faqs{
        width: 96%;
        margin: 0 auto;
    }
}