.header{
    height: 100vh;
    border-radius: 0 0 15px 15px; /* Radio solo para las esquinas inferiores */
    overflow-x: hidden; 
    overflow-y: hidden;
    background: linear-gradient(to bottom, 
        transparent 0%, 
        transparent 50%, 
        rgba(0, 0, 0, 0.2) 70%, 
        rgba(0, 0, 0, 0.5) 85%, 
        rgba(0, 0, 0, 0.8) 95%, 
        rgba(0, 0, 0, 1) 100%
    );
    position: relative;
    z-index: 1;
}

.header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1));
    pointer-events: none;
    z-index: 2;
}

.header .particles-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.headerButton {
  border-radius: 35px;
  padding: 12px 17px;
  color: #fff !important;
  background: linear-gradient(to bottom, #ff80bf, #ea9c9c) !important;
  cursor: pointer;
  font-size: 0.88rem;
  transition: all 0.3s ease;
  text-decoration: none;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.headerButton:hover {
  color: #000 !important; /* Cambia a un color diferente */
}

@media (max-width: 768px){
  .hero{
    padding: 0 20px 0 20px;
  }
  .heroTitle{
      font-size: 2.2rem !important;
  }
}