.projects{
   height: auto;
}

.projectClouds{
    border-radius: 35px;
}

.projectsImg{
    opacity: 0.4 !important;
}

.roundedBox{
    border-radius: 35px;
}

.projectImg{
    border-radius: 35px;
}